---
import Icon from "../components/Icon.astro";

export interface Props {
  icon: string;
  title: string;
  description: string;
  iconColor: string;
  class?: string;
}

const {
  icon,
  title,
  description,
  iconColor,
  class: sizeDirection,
} = Astro.props;
---

<div
  class={`from-blue-600 to-brand-pink rounded-[32px] p-[2px] ${sizeDirection}`}
>
  <div class="h-full w-full rounded-[32px] bg-gray-800 p-8">
    <div class="flex flex-col items-start justify-start space-y-4 text-gray-50">
      <Icon icon={icon} class={`text-4xl ${iconColor}`} />
      <h3 class="text-2xl font-semibold line-clamp-2">{title}</h3>
      <p class="text-sm">
        {description}
      </p>
    </div>
  </div>
</div>
