---
import "../styles/base.css";

import { Image } from "astro:assets";

import logo from "../images/logo.svg";
import flyioLogoWithText from "../images/flyio-logo-with-text.svg";
import hfLogoWithText from "../images/hf-logo-with-text.svg";
import tigrisLogo from "../images/tigris-logo.svg";

import Icon from "../components/Icon.astro";

export interface Props {
  title: string;
  isDarkMode?: boolean;
  displaySponsors?: boolean;
  displayFooter?: string;
}

const {
  title,
  isDarkMode = false,
  displaySponsors = true,
  displayFooter = "Livebook",
} = Astro.props;

function isPathActive(path) {
  return Astro.url.pathname.startsWith(path);
}
---

<!DOCTYPE html>
<html lang="en" class={isDarkMode ? "dark" : ""}>
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="alternate icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Automate code & data workflows with interactive notebooks"
    />
    <title>{title} - Livebook.dev</title>
    <!-- Load assets -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <!-- Load icons in deferred way, as they are not critical -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
      media="print"
      onload="this.media='all'"
    />
    <noscript>
      <link
        href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
        rel="stylesheet"
      />
    </noscript>
    <script
      defer
      data-domain="livebook.dev"
      data-api="/pa/api/event"
      src="/pa/js/script.tagged-events.js"
    ></script>
  </head>
  <body>
    <!-- Navbar desktop -->
    <header id="header" class="header">
      <div class="m-auto w-full max-w-7xl hidden lg:flex items-center">
        <a href="/" class="flex items-center">
          <Image class="w-10" alt="Livebook Logo" src={logo} />
          <span
            class="text-gray-900 dark:text-white font-logo text-[34px] leading-9 px-3 pt-1 font-light"
            >Livebook</span
          >
        </a>

        <div class="flex-grow flex items-center justify-center">
          <nav
            data-el-menu
            class="flex space-x-12 text-gray-600 dark:text-gray-200"
          >
            <aside class="relative group">
              <a href="/" class="z-10 py-2"> Home</a>
              <div
                class="origin-top-center absolute left-1/2 -translate-x-1/2 mt-1 w-32 rounded-md shadow-lg bg-white dark:bg-gray-800 ring-1 ring-black ring-opacity-5 hidden group-hover:block transform"
              >
                <div
                  class="py-1"
                  role="menu"
                  aria-orientation="vertical"
                  aria-labelledby="options-menu"
                >
                  <a
                    href="/#install"
                    class="block px-4 py-2 text-sm text-gray-700 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 hover:text-gray-900 text-center"
                    role="menuitem">Install</a
                  >
                  <a
                    href="/#features"
                    class="block px-4 py-2 text-sm text-gray-700 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 hover:text-gray-900 text-center"
                    role="menuitem">Features</a
                  >
                </div>
              </div>
            </aside>

            <a
              href="/teams"
              class:list={[
                {
                  "border-b-2 border-gray-600 dark:border-gray-400":
                    isPathActive("/teams"),
                },
              ]}
            >
              Teams
            </a>
            <a
              href="/integrations"
              class:list={[
                { "border-b-2 border-gray-600": isPathActive("/integrations") },
              ]}
            >
              Integrations
            </a>
            <a
              href="/badge"
              class:list={[
                { "border-b-2 border-gray-600": isPathActive("/badge") },
              ]}
            >
              Badges
            </a>
            <a href="https://hexdocs.pm/livebook">Docs</a>
            <a class="announcekit-widget" href="https://news.livebook.dev/">
              What’s new?&nbsp
            </a>
          </nav>
        </div>
        <div class="w-56 flex justify-end"></div>
      </div>
    </header>

    <!-- Navbar mobile -->
    <header
      id="header-mobile"
      data-el-menu-container
      class="header-mobile"
      aria-hidden="true"
    >
      <div class="flex items-center justify-between">
        <a href="/" class="flex items-center">
          <Image class="w-9" alt="Livebook Logo" src={logo} />
          <span
            class="text-gray-900 dark:text-white font-logo text-3xl px-3 pt-1 font-normal"
            >Livebook</span
          >
        </a>
        <button
          data-el-menu-toggle
          class="p-2 flex items-center justify-center rounded-lg bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-800 text-gray-500 dark:text-gray-100 dark:border dark:border-gray-500 hover:bg-gray-100 focus:bg-gray-100 text-xl leading-none"
          aria-label="toggle menu"
        >
          <Icon icon="menu-4-line" data-on-menu="hide" />
          <Icon icon="close-line" data-on-menu="show" />
        </button>
      </div>
      <div
        data-on-menu="show"
        class="h-full mt-12 flex flex-col items-center space-y-12"
      >
        <nav
          data-el-menu
          class="flex flex-col items-center space-y-10 text-xl text-gray-700 dark:text-gray-200"
        >
          <a href="/">Home</a>
          <a href="/#install">Install</a>
          <a href="/#features">Features</a>
          <a
            href="/teams"
            class:list={[
              {
                "border-b-2 border-gray-600 dark:border-gray-400":
                  isPathActive("/teams"),
              },
            ]}
          >
            Teams
          </a>
          <a
            href="/integrations"
            class:list={[
              { "border-b-2 border-gray-600": isPathActive("/integrations") },
            ]}
          >
            Integrations
          </a>
          <a
            href="/badge"
            class:list={[
              { "border-b-2 border-gray-600": isPathActive("/badge") },
            ]}
          >
            Badges
          </a>
          <a href="https://hexdocs.pm/livebook">Docs</a>
          <a
            class="announcekit-widget-mobile"
            href="https://news.livebook.dev/"
          >
            What’s new?&nbsp
          </a>
        </nav>
      </div>
    </header>

    <slot />

    <!-- Sponsors & Supporters -->

    {
      displaySponsors && (
        <section id="sponsors" class="bg-gray-800">
          <div class="m-auto max-w-5xl px-4 py-16 flex flex-col md:flex-row gap-20 md:gap-0 items-center justify-around">
            <div class="flex flex-col items-center md:items-start">
              <span class="text-lg font-semibold tracking-widest text-white">
                PLATINUM SPONSORS
              </span>
              <div class="flex flex-row pt-4">
                <a class="flex justify-center" href="https://fly.io/">
                  <Image src={flyioLogoWithText} alt="Flyio Logo" width="270" />
                </a>
              </div>
            </div>
            <div class="flex flex-col items-center md:items-start">
              <span class="text-base tracking-widest text-white">SPONSORS</span>
              <div class="flex flex-row gap-8 items-center pt-4">
                <a href="https://huggingface.co/">
                  <Image
                    src={hfLogoWithText}
                    alt="Hugging Face Logo"
                    width="150"
                  />
                </a>
                <a class="pt-2" href="https://www.tigrisdata.com/">
                  <Image src={tigrisLogo} alt="Tigris logo" width="100" />
                </a>
              </div>
            </div>
          </div>
        </section>
      )
    }

    <!-- Footer -->
    {
      displayFooter === "Livebook" && (
        <footer class="bg-gray-900">
          <div class="m-auto max-w-7xl w-full px-4 py-10 md:py-12 flex flex-col text-sm space-y-5 md:flex-row md:space-y-0 md:items-end md:justify-between">
            <div class="flex flex-col">
              <Image src={logo} alt="" width="45" height="45" />
              <span class="mt-2 text-gray-50 text-xl font-logo font-semibold">
                Livebook
              </span>
              {/* prettier-ignore */}
              <span class="mt-1 text-gray-300">
                Copyright 2021-{new Date().getFullYear()}. All rights reserved,
                <a class="border-b-2 border-gray-300" href="https://dashbit.co/">Dashbit</a>.
                <a class="border-b-2 border-gray-300" href="/privacy-policy">Privacy Policy</a>.
              </span>
            </div>
            <div class="md:hidden w-full border-t border-gray-700" />
            <div class="flex flex-col text-gray-200 items-end">
              <div class="flex gap-2 text-3xl">
                <a
                  href="https://github.com/livebook-dev/livebook/discussions"
                  aria-label="github community"
                >
                  <Icon icon="github-fill" />
                </a>
                <a
                  href="https://twitter.com/livebookdev"
                  aria-label="twitter link"
                >
                  <Icon icon="twitter-fill" />
                </a>
              </div>
              <span>
                Marks shown as "Integrations" belong to their respective owners.
              </span>
            </div>
          </div>
        </footer>
      )
    }

    {
      displayFooter === "Teams" && (
        <footer class="bg-gray-900">
          <div class="m-auto max-w-7xl w-full px-6 py-10 md:py-12 flex flex-col text-sm space-y-5 md:flex-row md:space-y-0 md:items-start md:justify-between">
            <div class="flex flex-col">
              <Image src={logo} alt="" width="45" height="45" />
              <span class="mt-2 text-gray-50 text-xl font-logo font-semibold">
                Livebook Teams
              </span>
              {/* prettier-ignore */}
              <span class="mt-1 text-gray-300">
                Copyright {new Date().getFullYear()}. All rights reserved,
                <a class="border-b-2 border-gray-300" href="https://dashbit.co/">Dashbit</a>.
              </span>
            </div>
            <div class="md:hidden w-full border-t border-gray-700" />
            <div class="flex gap-32">
              <div class="flex flex-col text-gray-300 items-start">
                <h3 class="font-semibold text-md tracking-wider ">COMMUNITY</h3>
                <div class="flex flex-col gap-2 text-sm mt-2">
                  <a
                    href="https://github.com/livebook-dev/livebook/discussions"
                    aria-label="github community"
                    class="flex items-center gap-2"
                  >
                    <Icon icon="github-fill" />
                    GitHub
                  </a>
                  <a
                    href="https://twitter.com/livebookdev"
                    aria-label="twitter link"
                    class="flex items-center gap-2"
                  >
                    <Icon icon="twitter-fill" />X / Twitter
                  </a>
                </div>
              </div>
              <div class="flex flex-col text-gray-300 items-start">
                <h3 class="font-semibold text-md tracking-wider ">LEGAL</h3>
                <div class="flex flex-col gap-2 text-sm mt-2">
                  <a
                    href="/teams/terms"
                    aria-label="Livebook Teams terms of services"
                  >
                    Terms
                  </a>
                </div>
                <div class="max-w-xs mt-10 text-xs hidden sm:block">
                  Marks shown as "Integrations" belong to their respective
                  owners.
                </div>
              </div>
            </div>
            <div class="max-w-xs mt-10 text-xs text-gray-300 sm:hidden">
              Marks shown as "Integrations" belong to their respective owners.
            </div>
          </div>
        </footer>
      )
    }
    <!-- Scripts -->
    <script>
      window.announcekit = window.announcekit || {
        queue: [],
        on: function (n, x) {
          window.announcekit.queue.push([n, x]);
        },
        push: function (x) {
          window.announcekit.queue.push(x);
        },
      };

      window.announcekit.push({
        widget: "https://news.livebook.dev/widgets/v2/2mz4c0",
        selector: ".announcekit-widget",
      });

      window.announcekit.push({
        widget: "https://news.livebook.dev/widgets/v2/2mz4c0",
        selector: ".announcekit-widget-mobile",
      });
    </script>
    <script async src="https://cdn.announcekit.app/widget-v2.js"></script>
  </body>
</html>

<style>
  [data-el-menu-container][data-menu-open] {
    @apply fixed z-50 top-0 bottom-0 left-0 right-0;
  }

  [data-el-menu-container][data-menu-open] [data-on-menu="hide"] {
    @apply hidden;
  }

  [data-el-menu-container]:not([data-menu-open]) [data-on-menu="show"] {
    @apply hidden;
  }

  .header {
    @apply sticky top-0 z-50 px-4 py-6 hidden lg:flex bg-white dark:bg-gray-900;
  }

  .header.scrolled {
    @apply py-3 border-b border-gray-200 dark:border-gray-700;
  }

  .header-mobile {
    @apply sticky top-0 z-50 lg:hidden px-4 py-6 bg-white dark:bg-gray-900 flex flex-col;
  }

  .header-mobile.scrolled {
    @apply py-3 border-b border-gray-200 dark:border-gray-700;
  }
</style>

<script>
  import "../lib/global";

  // Mobile menu

  const menuContainerEl = document.querySelector(`[data-el-menu-container]`);

  menuContainerEl.addEventListener("click", (event) => {
    const toggleEl = event.target.closest(`[data-el-menu-toggle]`);

    if (toggleEl) {
      menuContainerEl.toggleAttribute("data-menu-open");
      return;
    }

    const anchorEl = event.target.closest("a");

    if (anchorEl && anchorEl.pathname === window.location.pathname) {
      menuContainerEl.removeAttribute("data-menu-open");
    }
  });

  // Updated header on scroll

  const header = document.querySelector("#header");
  const headerMobile = document.querySelector("#header-mobile");

  window.addEventListener("scroll", () => {
    const scrolled = window.scrollY > 1;
    header.classList.toggle("scrolled", scrolled);
    headerMobile.classList.toggle("scrolled", scrolled);
  });
</script>
